#sidebar {
    width: 250px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    transition: all 0.3s;
}

ul.menu {
    list-style: none;
    padding: 0px;
}

ul.menu li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

ul.menu li a:hover {
    background: #24303a;
}

ul.menu li .active>a {
    background: #3a5a75;
}

#sidebar.tutup {
    margin-left: -250px;
}

#content.layarPenuh {
    width: 100%;
}

a.dropdown-sidebar-weecom {
    position: relative;
}

a.dropdown-sidebar-weecom::after {
    position: absolute;
    display: block;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

a.dropdown-sidebar-weecom[aria-expanded="true"] {
    background: #111c27;
}

ul ul li a {
    background: #111c27;
    padding-left: 40px !important;
}