h2.title-register {
    color: #343a40;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3.title-register {
    color: #343a40;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}